<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script> var nameArr = [];
        <% for(var i = 0; i < names.length; i++){ %>
          nameArr.push("<%= names[i] %>");
        <% } %>
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/lib/css/ui-lightness/jquery-ui-1.10.4.custom.min.css' />
  	<script rel='text/javascript' src='/lib/js/jquery.js'></script>
    <script rel='text/javascript' src='/lib/js/jquery-ui.min.js'></script>
    <script rel='text/javascript' src='/javascripts/functions.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ9CBx4r3OZg3-zLVnpN_OgsCV09F7x7k&sensor=false"
  type="text/javascript"></script>
    <script rel='text/javascript' src="/lib/js/Chart.js"></script>
    <style>
      canvas{
      }
    </style>
<!-- https://developers.google.com/maps/documentation/javascript/tutorial#HTML5 -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>! Look at the awesome map and the awesome chart!</p>
    <table> 
      <tr>
        <td>
    <div id="map-canvas" style="width: 500px; height: 500px"></div>
    </td>
    <td>
      <canvas id="canvas" width="500" height="500"></canvas>

      <script>

    var barChartData = {
      labels : ["Cats","Dogs","Catdogs"],
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          data : [65,59,90]
        },
        {
          fillColor : "rgba(151,187,205,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          data : [28,48,40]
        }
      ]

    }

  var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData);

  </script>
    </td>
  </tr>
</table>

          <div id="panel">
            <input id="namesInput" type="textbox" value="Montreal">
            <input type="button" value="Search" onclick="codeAddress2();">
          </div>
          <div id="map-canvas" style="width: 500px; height: 500px"></div>
        </td>
        <td>
            <div id="panel">
              <input type="button" value="Generate Graph" onclick ="make_graph();">
            </div>
             <canvas id="canvas" width="500" height="500"></canvas>
        </td>
      </tr>
    </table>
  </body>
</html>